/*.good3{
  width: 40%;
  height: 40%;
}
.good2{
  width: 20%;
  height: 20%;
}
.good1{
  width: 25%;
  height: 25%;


  background-color: #6f007f;
  border: 5px solid #0000;
}*/
.tr{
  text-align: center;
}
.pt{
  width: 240px;
  height: 240px;
}

#title {
  text-align: left;
}
table{
  border: 5px solid gray;
  border-collapse: collapse;
  background: #bab7ba;
}
th, td, {
  border: 5px solid gray;
  border-collapse: collapse;

}
